/* font-family: 'Merriweather', serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* position: relative; */
}

.container {
  width: 100%;
  padding: 15px 20px;
}

.text {
  font-family: "Merriweather", serif;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 18px;
  margin-left: 2px;
}

h2.header_2 {
  margin-bottom: 20px;
}

/* navbar section */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: left;
  border-bottom: 2px solid black;
}

.header_navbar {
  padding: 15px 0;
  padding-left: 20px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 28px;
}

.group_label_navbar {
  margin-left: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding: 2px 9px 2px 7px;
  background-color: rgb(194, 255, 132);
  border-radius: 50px;
}

/* greeting section */
.card {
  /* border: 1.5px dotted red; */
  padding: 15px 20px;
  border-radius: 16px;
  box-shadow: 0px 8px 10px #3f3f3f48;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.card.greeting_card {
  height: 135px;
  justify-content: space-between;
  background: linear-gradient(to bottom right, #00c9ff, #92fe9d);
}

.time_div {
  margin-left: -1px;
  font-family: "Rubik", sans-serif;
  font-size: 35px;
  font-weight: 500;
}

/* Upcoming next section */

.card.next_lec_card {
  /* justify-content: space-between; */
  background: rgb(206, 236, 255);
}

.card.later_lec_card {
  background: rgb(255, 241, 255);
}

.card_lec_title {
  font-family: "Merriweather", serif;
  color: rgb(151, 133, 151);
  font-size: 30px;
  font-weight: 700;
}

.card_lec_hall,
.card_lec_time {
  font-family: "Rubik", sans-serif;
  color: rgb(131, 106, 131);
  font-size: 18px;
}

.card_lec_time {
  font-size: 20px;
}

#lec_next_title,
#lec_next_status {
  color: rgb(16, 82, 124);
}

#lec_next_hall,
#lec_next_time {
  color: rgb(62, 100, 124);
}

#lec_next_status {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 21px;
  font-weight: 500;
}

/* footer section */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 15px 0;
  padding-left: 20px;
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-size: 16px;
}

/* login section */

#login-section {
  display: none;
}

.login-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.555);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background: linear-gradient(to bottom right, #9796f073, #fbc7d47c);
  padding: 30px 30px;
  border-radius: 25px;
  border: 1px solid #ceceff73;
  box-shadow: 2px 2px 15px rgba(54, 54, 54, 0.4);
}

.text.login-form-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text.form-label {
  font-size: 18px;
  /* padding-top: 70px; */
}

#login-submit-btn {
  font-family: "Merriweather", serif;
  /* margin-top: 25px; */
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  cursor: pointer;
  margin-top: 6px;
  float: right;
}

#login-submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.76);
  transition: 0.3s ease-in-out;
}

.form-field {
  margin: 5px 0 14px 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding: 2px 5px;
  border-radius: 5px;
  width: 50%;
  border: 1px solid black;
}

#group-dropdown {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 5px 0 12px 0;
}

#profile-pic {
  width: 100px;
  height: 100px;
}
